.navbar {
  background-color: #7851a9;
  font-family: "Kanit", sans-serif;
}
.navbar-brand {
  font-size: 29px;
  font-weight: 800;
}
.navbar-brand img {
  margin-right: -20px;
}
.jumbotron {
  background-color: #e6e6fa;
  padding-top: 2.5rem;
}
section img {
  width: 250px;
}
#projects {
  background-color: #e6e6fa;
}
.btn {
  background-color: blueviolet;
  color: white;
}
section {
  padding-top: 7rem;
}
footer {
  background-color: #7851a9;
}
.img-gallery {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
/* galery */
.tes {
  transform-style: preserve-3d;
}

/* my hero */
.hero-box {
  position: relative;
  background-color: #7851a9;
  height: 550px;
  border-radius: 15px;
  transform-style: preserve-3d;
}
.hero-box .btn {
  background-color: white;
  color: black;
  z-index: 1000;
}
.hero-box::before {
  content: "MY";
  color: white;
  position: absolute;
  font-weight: bold;
  font-style: italic;
  top: 50px;
  font-size: 5em;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s;
  opacity: 0;
}
.hero-box:hover::before {
  opacity: 0.3;
}
.hero-box::after {
  content: "Hero";
  color: white;
  position: absolute;
  font-weight: bold;
  font-style: italic;
  top: 350px;
  font-size: 5em;
  left: 50%;
  transform: translate3d(-50%, 0, 10px);
  transition: all 0.5s;
  opacity: 0;
}
.hero-box:hover::after {
  opacity: 0.3;
}
.hero-name {
  top: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 2em;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
  transform: translate3d(0, 0, 50px);
}
.hero-box:hover .hero-name {
  top: 30px;
  opacity: 1;
}
.btn-edit {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.5s;
}
.hero-box:hover .btn-edit {
  opacity: 1;
  bottom: 20px;
}
.img-keqing {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 100px);
  transition: all 0.5s;
}
.img-raiden {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 100px);
  transition: all 0.5s;
}
.img-lisa {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-40%, -50%, 100px);
  transition: all 0.5s;
  max-width: 200px;
}
.hero-box:hover .img-keqing {
  transform: translate3d(-50%, -40%, 80px) scale(1.2);
}
.hero-box:hover .img-raiden {
  transform: translate3d(-50%, -45%, 80px) scale(1.2);
}
.hero-box:hover .img-lisa {
  transform: translate3d(-40%, -50%, 80px) scale(1.1);
}
